<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title >
      İstanbul Film Festivali 2020
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <img src="assets/img2/1.jpg"/>
    <div class="card-title">Berlin Alexanderplatz / Burhan Qurbani / Almanya, Hollanda, Fransa, Kanada
      15.05.2020’den itibaren</div>
    <div class="card-subtitle">Fassbinder’in klasikleşen 1980 yapımı TV dizisinin ardından, 
      Alfred Doblin’in aynı adlı romanının Berlinale’de Altın Ayı için yarışan yeni uyarlaması,
       1929 yılı Weimar Cumhuriyeti’nin olaylarını günümüz Berlin’ine aktarıyor ve Gine-Bissau 
       göçmeni bir genci Berlin’in suç dünyasında izliyor.</div>
  </ion-card>

  <ion-card>
    <img src="assets/img2/2.jpg"/>
    <div class="card-title">20 Yaşında Öleceksin / You Will Die at Twenty / Amjad Abu Alala /
       Sudan, Fransa, Mısır, Almanya, Norveç, Katar
      16.05.2020’den itibaren</div>
    <div class="card-subtitle">Sudanlı yönetmen Amjad Abu Alala’nın görsel dilinin olgunluğuyla festivallerde
       bolca övgü alan ilk uzun metrajlı filmi bir kehanetin insanların kaderini nasıl etkileyebileceğini gösteriyor.
        Dünyadan izole, yaşamın kendi inançları ve gelenekleri doğrultusunda sürdüğü bir Sudan köyünde geçen film,
         Venedik Film Festivali’nde En İyi İlk Film, Amiens ve El Gouna Film Festivallerinde En İyi Film
          ödüllerini kazandı.</div>
  </ion-card>

  <ion-card>
    <img src="assets/img2/3.jpg"/>
    <div class="card-title">Hizmetkârlar / Servants / Ivan Ostrochovský / Slovakya, Romanya, Çek Cumhuriyeti, 
      İrlanda 
      17.05.2020’den itibaren</div>
    <div class="card-subtitle">Siyah-beyaz eşsiz görüntüleriyle öne çıkan Hizmetkârlar, Soğuk Savaş döneminde
       Çekoslovakya’da geçiyor ve komünist rejimin işbirliğine zorladığı ilahiyat öğrencisi iki gencin 
       çıkmazlarına odaklanıyor.</div>
  </ion-card>

  <ion-card>
    <img src="assets/img2/4.jpg"/>
    <div class="card-title">Daha Büyük Bir Dünya / Un monde plus grand / A Bigger World / Fabienne Berthaud / 
      Fransa, Belçika 
      18.05.2020’den itibaren</div>
    <div class="card-subtitle">Fransız sinemasının popüler oyuncu-yazar-yönetmenlerinden Fabienne Berthaud’nun
       yeni projesi, müzikolog ve şaman uzmanı Corine Sombrun’un kendi deneyimlerinden yola çıkarak yazdığı
        bir kitaba dayanıyor.</div>
  </ion-card>

  <ion-card>
    <img src="assets/img2/5.jpg"/>
    <div class="card-title">5 Kusursuz Sayıdır / 5 è il numero perfetto / 5 is the perfect number / 
      Igort / İtalya, Belçika, Fransa 
      19.05.2020’den itibaren</div>
    <div class="card-subtitle">Arkasında bir çizgi roman olan bu hareketli gangster filmi, Napoli’nin 
      suç dünyasını özenle tasarlanmış estetize bir kara film atmosferinde anlatıyor. Filmin yönetmeni ise,
       filmi kendi çizgi romanından uyarlayan çizer İtalyan Igort. Başrolde ise Tony Servillo
        harikalar yaratıyor.</div>
  </ion-card>

  <ion-card>
    <img src="assets/img2/6.jpg"/>
    <div class="card-title">Söz Senettir / Es gilt das gesprochene Wort / I was, I am, I will be / 
      İlker Çatak / Almanya, Fransa 
      20.05.2020’den itibaren</div>
    <div class="card-subtitle">Almanya’dan yaz tatili için Türkiye’ye gelen, kadının pilot, erkeğin 
      müzisyen olduğu bir çiftin üç kişilik bir oyuna dönüşen maceralarını gözler önüne seren film 
      ilişkilere ve kimliklere dair pek çok algımızı sarsıyor. Bir Zamanlar Kızılderili Ülkesinde 
      filmini 2018’de festivalde izlediğimiz İlker Çatak’ın bu yeni filmi, Münih Film Festivali’nde
       En İyi Senaryo ve En İyi Erkek Oyuncu ödüllerini kazandı.</div>
  </ion-card>

  <ion-card>
    <img src="assets/img2/7.jpg"/>
    <div class="card-title">Davacı / Litigante / Franco Lolli / Kolombiya, Fransa
      21.05.2020’den itibaren</div>
    <div class="card-subtitle">Kolombiya sinemasının gelecek vadeden yönetmenlerinden Franco Lolli,
       Chicago Film Festivali’nde Yeni Yönetmenler Bölümü’nde En İyi Film Ödülü kazanan filminde 
       tek başına çocuklarını yetiştirmeye çalışırken bir yandan hasta annesine zaman ayıran ve 
       işyerindeki skandallarla mücadele eden bir kadının yaşamına bizi ortak ediyor.</div>
  </ion-card>

  <ion-card>
    <img src="assets/img2/8.jpg"/>
    <div class="card-title">Deniz Mavileşene Dek Yüzmek / Swimming Out Till the Sea Turns Blue / Jia Zhang-ke / Çin
      22.05.2020’den itibaren</div>
    <div class="card-subtitle">YDünya sinemasının en önemli isimlerinden Jia Zhang-ke’nin belgeseli farklı kuşaklardan 
      Çinli edebiyatçılarla yapılan röportajlar aracılığıyla hem bu yazarlara hem de ülkenin edebi kültürüne dair
       muhteşem anekdotlar barındırıyor. Türkiye’de de çok sevilen Yu Hua gibi pek çok yazarın anlatıları şiirsel, 
       eşsiz bir deneyim ortaya çıkarırken günümüz Çin’inin özgün bir portresini çiziyor.</div>
  </ion-card>

  <ion-card>
    <img src="assets/img2/9.jpg"/>
    <div class="card-title">Kız Kardeşim / Schwesterlein / My LittleSister / Stéphanie Chuat, Véronique Reymond / İsviçre
      23.05.2020’den itibaren</div>
    <div class="card-subtitle">Şubat ayında Berlinale’de Altın Ayı için yarışan Kız Kardeşim’de Berlinli saygın tiyatro
       kumpanyası Schaubühne çıkışlı Nina Hoss, LarsEidinger ve Thomas Ostermeier rol alıyor.</div>
  </ion-card>

  <ion-card>
    <img src="assets/img2/10.jpg"/>
    <div class="card-title">Lillian / Andreas Horvath / Avusturya
      24.05.2020’den itibaren</div>
    <div class="card-subtitle">Gerçek bir hikâyeden esinlenen ve Minsk, Trieste, Gijon, Hayfa gibi birçok festivalde 
      ödül kazanan, duru dili ve başrol oyuncusunun performansıyla dikkat çeken Lillian, ABD’den Rusya’ya yürüyerek 
      geçmeye çabalayan bir genç kadını izliyor.</div>
  </ion-card>

  <ion-card>
    <img src="assets/img2/11.jpg"/>
    <div class="card-title">Söğüt / Vrba / Willow / Milcho Manchevski / Kuzey Makedonya, Macaristan, Belçika
      25.05.2020’den itibaren</div>
    <div class="card-subtitle">Çocuk sahibi olmak isteyen üç kadının kahramanı olduğu üç farklı hikâye anlatan
       ve gözalıcı görüntü yönetimiyle dikkat çeken Söğüt, Yağmurdan Önce ile tanıdığımız Manchevski’nin en 
       iyi filmlerinden biri olarak övülüyor.</div>
  </ion-card>

  <ion-card>
    <img src="assets/img2/12.jpg"/>
    <div class="card-title">1982 / Oualid Mouaness / Lübnan, Fransa, ABD, Norveç, Katar
      26.05.2020’den itibaren</div>
    <div class="card-subtitle">Bu yıl Lübnan’ı Oscar yarışında temsil eden 1982 bizi ülke tarihindeki
       en büyük kırılmalardan birinin yaşandığı yıla götürüyor ve iki çocuğun gözünden toplumu gözlemliyor.
        Filmin başrollerinden birini Nadine Labaki üstleniyor. Film El Gouna, Montpellier, Toronto Film
         Festivallerinde ödül kazandı.</div>
  </ion-card>

  <ion-card>
    <img src="assets/img2/13.jpg"/>
    <div class="card-title">Walchensee Forever / Janna Ji Wonders / Almanya
      27.05.2020’den itibaren</div>
    <div class="card-subtitle">Yönetmen Janna Ji Wonders, Berlinale’de Perspektif Bölümü’nde En İyi Film 
      ödülünü kazanan ve hem eleştirmenler hem de izleyicilerden büyük beğeni toplayan son belgeselinde 
      ailesinin her biri kendi yolunu çizmiş kadınlarının hikâyesini anlatıyor.</div>
  </ion-card>

  <ion-card>
    <img src="assets/img2/14.jpg"/>
    <div class="card-title">Martin Eden / PietroMarcello / İtalya, Fransa, Almanya
      28.05.2020’den itibaren</div>
    <div class="card-subtitle">Jack London’ın en sevilen romanlarından Martin Eden’i Fransız Yeni Dalgası
       ve 1970’lerin Amerikan sinemasından esinlenerek 20. yüzyılın ortalarında Napoli’ye taşıyan film, 
       sinemada en özgün ve başarılı edebiyat uyarlamalardan biri olarak Venedik’te En İyi Erkek Oyuncu,
        Toronto’da Platform Ödülü, Sevilla’da En İyi Film Ödülü kazandı.

    </div>
  </ion-card>

  <ion-card>
    <img src="assets/img2/15.jpg"/>
    <div class="card-title">Küçük Kız / Petite Fille / Little Girl / Sébastien Lifshitz / Fransa
      29.05.2020’den itibaren</div>
    <div class="card-subtitle">Berlin Film Festivali’nde dünya prömiyerini yapan Küçük Kız,
       bir çocuğun dilediği gibi olma arzusunu, toplumun tepkilerini ve ailesinin tüm fobik saldırılara
        karşı dirayetli duruşunu tarafsız bir dille anlatıyor.</div>
  </ion-card>

  <ion-card>
    <div class="card-title">kaynakça:https://film.iksv.org/tr/haberler/39-istanbul-
      film-festivali-programindan-15-film-cevrimici-gosterime-aciliyor</div>
    
  </ion-card>


</ion-content>
