<ion-header [translucent]= "true">
  <ion-toolbar color="secondary">
    <ion-title>
      Filmlerim
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]= "true">
 
  <div class="wrapper">
    <ion-input class="wrapper__input" [(ngModel)]= "value" maxlength = "22"></ion-input>
    <ion-button class="wrapper__button" (click)= "addItem()" [disabled]= 'value.length < 2' >EKLE</ion-button>
  </div>
  <div class="list">
    <div class="list__item" [class.done]= "item.isDone" *ngFor= "let item of items; let ind = index;" >
      {{ item.value }}
      <button class="btn list__item--done" (click)= "setDone(ind)">İzlendi</button>
      <button class="btn list__item--delete" (click)= "deleteItem(ind)">sil</button>
    </div>
  </div> 
</ion-content>
