<ion-header [translucent]="true">
  <ion-toolbar color="danger" >
    <ion-title>
      Popüler Filmler
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="viewpost">
  
  <ion-content class="card-background-page">
    
    <ion-card>
      <img src="assets/img/1.jpg"/>
      <div class="card-title">Joker</div>
      <div class="card-subtitle">Yönetmen: Todd Phillips</div>
    </ion-card>
  
    <ion-card>
      <img src="assets/img/2.jpg"/>
      <div class="card-title">Parasite</div>
      <div class="card-subtitle">Yönetmen: Bong Joon-ho</div>
    </ion-card>

    <ion-card>
      <img src="assets/img/3.jpg"/>
      <div class="card-title">Avengers Endgame</div>
      <div class="card-subtitle">Yönetmenler: Joe Russo, Anthony Russo</div>
    </ion-card>

    <ion-card>
      <img src="assets/img/4.jpg"/>
      <div class="card-title">The Irishman</div>
      <div class="card-subtitle">Yönetmen: Martin Scorsese</div>
    </ion-card>
  
    <ion-card>
      <img src="assets/img/5.jpg"/>
      <div class="card-title">BirdBox</div>
      <div class="card-subtitle">Yönetmen: Susanne Bier</div>
    </ion-card>

    <ion-card>
      <img src="assets/img/6.jpg"/>
      <div class="card-title">Marriage Story </div>
      <div class="card-subtitle">Yönetmen: Noah Baumbach</div>
    </ion-card>

    <ion-card>
      <img src="assets/img/7.jpg"/>
      <div class="card-title">Forrest Gump</div>
      <div class="card-subtitle">Yönetmen: Robert Zemeckis</div>
    </ion-card>

    <ion-card>
      <img src="assets/img/8.jpg"/>
      <div class="card-title">Esaretin Bedeli</div>
      <div class="card-subtitle">Yönetmen: Frank Darabont</div>
    </ion-card>

    <ion-card>
      <img src="assets/img/9.jpg"/>
      <div class="card-title">Inception</div>
      <div class="card-subtitle">Yönetmen: Christopher Nolan</div>
    </ion-card>
  
    <ion-card>
      <img src="assets/img/10.jpg"/>
      <div class="card-title">Yıldızlararası </div>
      <div class="card-subtitle">Yönetmen: Christopher Nolan</div>
    </ion-card>
    
  
    <ion-fab right top>
        <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="left">
          <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
          <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>
  
  </ion-content>





  </ion-content>
